<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">
  <%= csrf_meta_tags %>
  <title>果壳社团管理系统-注册</title>

  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <script src="/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="login-body">

<div class="container">
    <form class="form-signin">
      <div class="form-signin-heading text-center">
        <h1 class="sign-title">注册</h1>
        <img src="/images/login-logo.png" alt=""/>
      </div>
      <div class="login-wrap">

        <div class="form-group">
            <label for="exampleInputPassword1"> <i class="bi_tian">*&nbsp</i>姓名</label>
           <input type="text" name="name" class="form-control" placeholder="" autofocus>      
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1"> <i class="bi_tian">*&nbsp</i>学号</label>
            <input type="text" name="student_no" class="form-control" placeholder="" > 
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1"><i class="bi_tian">*&nbsp</i> 密码</label>
            <input type="password" name="password" class="form-control" placeholder="">
        </div>
        
          <div class="form-group">
            <label for="exampleInputPassword1"><i class="bi_tian">*&nbsp</i> 确认密码</label>
            <input type="password" name="password_confir" class="form-control" placeholder="请确认密码">
        </div>
        
        
          <div class="form-group">
             <label for="exampleInputPassword1"> 性别</label>
            <select class="form-control" name="sex">
                  <option value="1">男</option>
                  <option value="2">女</option>
            </select>
        </div>
       
        <button class="btn btn-lg btn-login btn-block" type="button" data-url="/users/signup" id="submit_data">
          <i class="fa fa-chec">注册</i>
        </button>
        <label class="checkbox">
          <span class="pull-right">
          <a data-toggle="modal" href="../index/index"> 返回首页</a>
        </span>
        </label>

      </div>
    </form>
</div>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/my.js"></script>
<script type="text/javascript" charset="utf-8">
  function jumpUserIndex() {
      window.location.href = '/index/index'
  }
    $('#submit_data').click(function () {
        var _this = $(this);
        var url = _this.attr('data-url');
        var data = {};
        data['name'] = $('input[name=name]').val();
        data['student_no'] = $('input[name=student_no]').val();
        data['password'] = $('input[name=password]').val();
        data['password_confir'] = $('input[name=password_confir]').val();
        data['sex'] = $('input[name=sex]').val();
        doRequest(_this,url,'POST',data,jumpUserIndex);
    });
</script>

</body>
</html>
