<!DOCTYPE html>
<html>
  <head>
    <title>果壳社团管理系统</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload'%>
  </head>

  <body>
    <div class="navbar-collapse collapse" >
        <ul class="nav navbar-nav">
            <h1 style="font-weight:bold">果壳社团管理系统</h1>
        </ul>

      <div class="container navbar-right" style="font-weight:bold">
    <div class="row">
        <div class="span6">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#"><h4 style="font-weight:bold">首页</h4></a></li>
                <li ><a href="#" ><h4 style="font-weight:bold">新闻列表</h4></a></li>
                <li><a href="#"><h4 style="font-weight:bold">公告通知</h4> </a></li>
                <li><a href="#"><h4 style="font-weight:bold">社团活动</h4></a></li>
                <li><a href="#"><h4 style="font-weight:bold">社团列表</h4></a></li>
                     <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="login " style="color:#000000;font-weight:250">
                    <span class="glyphicon glyphicon-envelop"></span> 登录
                </a>
            </li>
            <li>
                <a href="signup" style="color:#000000;font-weight:250;">
                    <span class="glyphicon glyphicon-log-out" style="color:#000000"></span> 注册
                </a>
            </li>
        </ul>
            </ul>
        </div>
    </div>
    </div> 

   
    </div>
</div>
    <%= yield %>

   <footer class="navbar navbar-fixed-bottom text-center bg-primary"  style="background:#3D8FF0"> 
      <p style="font-weight:bold">© UCAS </p>
      <p style="font-weight:bold">高级软件工程</p>
  </footer>


<script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</script>

  </body>
</html>
